<template>
  <div id="table">
    <b-table :data="dataAPI"
             :columns="columns"
             :paginated=true
             :per-page=5>
    </b-table>
  </div>
</template>

<script>
export default {
  name: "Interface",
  data() {
    return {
      dataAPI: [],
      columns: [
        {
          field: 'id',
          label: 'ID',
          width: '100',
          numeric: true,
          searchable: true,
        },
        {
          field: 'name',
          label: 'Name',
          searchable: true,
        },
        {
          field: 'job_title',
          label: 'Job title',
          searchable: true,
        },
        {
          field: 'department',
          label: 'Department',
          searchable: true,
        },
        {
          field: 'company_name',
          label: 'Company name',
          searchable: true,
        },
        {
          field: 'experience_in_job',
          label: 'Experience in job',
          searchable: true,
          width: '200',
        },
      ],
      urlAPI: 'https://my.api.mockaroo.com/employee.json'
    };
  },
  methods: {
    getDataFromAPI() {
      const options = {
        headers: {
          'X-API-Key': "53b1b110"
        }
      };

      fetch(this.urlAPI, options)
          .then( res => res.json() )
          .then( data => this.dataAPI = data );
    }
  },
  created() {
    this.getDataFromAPI();
  },
}
</script>