<template>
  <div id="app">
    <h1> Liste des employés </h1>
    <Interface />
  </div>
</template>

<script>
import Interface from './components/Interface.vue'

export default {
  name: 'App',
  components: {
    Interface
  }
}
</script>

<style lang='css'>
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 30px auto 0;
  width: 75%;
}
h1{
  font-weight: bold !important;
  font-size: x-large !important;
  margin-bottom: 20px;
}
</style>
